

{% load static %}

<html>

<head>
    <link rel="stylesheet" href="{% static '/css/foodmunch.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href=""{% static '/css/mdb.dark.min.css'%}>
    <link rel="stylesheet" href=""{% static '/css/mdb.dark.rtl.min.css'%}>
    <link rel="stylesheet" href=""{% static '/css/mdb.min.css'%}>
    <link rel="stylesheet" href=""{% static '/css/mdb.rtl.min.css'%}>

</head>

<body>
    {% include 'accounts/navbarmain.html' %}



    <br>
    <br>

    <br>
    <br>
    <br>
    

    

<h1 style="text-align:text-center">Welcome to TrueFoods</h1>


<hr>
{% if sweet %}
<div class="col-12">
    <h1 class="menu-section-heading">Explore Sweets:</h1>
    <br>
</div>

<div class="row">
    {% for sweet in sweet  %}
    
    
    <div class="col-12 col-md-6 col-lg-3">
        <a href="{% url 'core:detail' sweet.slug %}">
      <div class="shadow menu-item-card p-3 mb-3">
        <img
          src="{{sweet.image.url}}"
          alt="{{sweet.image}}"
          class="menu-item-image w-100"
        /></a>
        <h1 class="menu-card-title">{{sweet.title}}</h1>
        
        <p class="lead">
          {% if sweet.discount_price %}
          <span class="mr-1">
            <del>₹{{ sweet.price }}</del>
          </span>
          <span>₹{{ sweet.discount_price }}</span>
          {% else %}
          <span>₹{{ sweet.price }}</span>
          {% endif %}
        </p> 
          <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
            />
          </svg>
        
      </div>
    </div>
    {% endfor %}


</div>
{% endif %}
</body>
{% if hot_list %}
<div class="col-12">
    <h1 class="menu-section-heading">Explore Hot:</h1>
    <br>
</div>

<div class="row">
    {% for sweet in hot_list  %}
    
    
    <div class="col-12 col-md-6 col-lg-3">
        <a href="{% url 'core:detail' sweet.slug %}">
      <div class="shadow menu-item-card p-3 mb-3">
        <img
          src="{{sweet.image.url}}"
          alt="{{sweet.image}}"
          class="menu-item-image w-100"
        /></a>
        <h1 class="menu-card-title">{{sweet.title}}</h1>
        
        <p class="lead">
          {% if sweet.discount_price %}
          <span class="mr-1">
            <del>₹{{ sweet.price }}</del>
          </span>
          <span>₹{{ sweet.discount_price }}</span>
          {% else %}
          <span>₹{{ sweet.price }}</span>
          {% endif %}
        </p> 
          <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
            />
          </svg>
        
      </div>
    </div>
    {% endfor %}


</div>
{% endif %}

{% if pickle_list %}
<div class="col-12">
    <h1 class="menu-section-heading">Explore Pickles:</h1>
    <br>
</div>

<div class="row">
    {% for sweet in pickle_list  %}
    
    
    <div class="col-12 col-md-6 col-lg-3">
        <a href="{% url 'core:detail' sweet.slug %}">
      <div class="shadow menu-item-card p-3 mb-3">
        <img
          src="{{sweet.image.url}}"
          alt="{{sweet.image}}"
          class="menu-item-image w-100"
        /></a>
        <h1 class="menu-card-title">{{sweet.title}}</h1>
        
        <p class="lead">
          {% if sweet.discount_price %}
          <span class="mr-1">
            <del>₹{{ sweet.price }}</del>
          </span>
          <span>₹{{ sweet.discount_price }}</span>
          {% else %}
          <span>₹{{ sweet.price }}</span>
          {% endif %}
        </p> 
          
          <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
            />
          </svg>
        
      </div>
    </div>
    {% endfor %}


</div>
{% endif %}


{% if other_list %}
<div class="col-12">
    <h1 class="menu-section-heading">Other:</h1>
    <br>
</div>

<div class="row">
    {% for sweet in other_list  %}
    
    
    <div class="col-12 col-md-6 col-lg-3">
        <a href="{% url 'core:detail' sweet.slug %}">
      <div class="shadow menu-item-card p-3 mb-3">
        <img
          src="{{sweet.image.url}}"
          alt="{{sweet.image}}"
          class="menu-item-image w-100"
        /></a>
        <h1 class="menu-card-title">{{sweet.title}}</h1>
        
        <p class="lead">
          {% if sweet.discount_price %}
          <span class="mr-1">
            <del>₹{{ sweet.price }}</del>
          </span>
          <span>₹{{ sweet.discount_price }}</span>
          {% else %}
          <span>₹{{ sweet.price }}</span>
          {% endif %}
        </p> 
          
          <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
            />
          </svg>
        
      </div>
    </div>
    {% endfor %}


</div>
{% endif %}

    </html>